body{
    background-color: pink;
    position: relative;
}
#dell{
    height: 500px;
}
.btn-1:hover{
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    color: white;
}
.second:focus{
    background-color: black;
    color: white;
    width: 300px;
    height: 30px;
    font-size: 20px;
    padding-left: 20px;
}
#first-id{
    text-align: center;
}
#center{
    position: absolute;
    left: 26%;
}